<div class="ui form" >
    <div class="two fields" >
        {{#ui-form-input value=model.name label="姓名" }}{{/ui-form-input}}
        {{#ui-form-input value=model.nickname label="昵称" }}{{/ui-form-input}}
    </div>
</div>
