<div class="ui form" >
    <div class="two fields" >
        {{#ui-form-input value=model.name label="姓名" }}{{/ui-form-input}}
    </div>
    <div class="field" >
        <button class="ui button" {{action "save"}} >save</button>
        <button class="ui button" {{action "cancel"}} >cancel</button>
    </div>
</div>
