{{outlet}}

<div class="ui container" >
    <div class="ui dividing header" >ui button</div>
    <div class="ui two column grid" >
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="basic" }} button \{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="basic" loading=true }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="primary" }} button \{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="primary" disabled=true }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="secondary" }} button \{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="secondary" }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-animated-button as |ab| }}
                    \{{/ui-animated-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-animated-button as |ab| }}
                    <div class="{{ab.visible}}">Next</div>
                    <div class="{{ab.hidden}}">
                        <i class="right arrow icon"></i>
                    </div>
                {{/ui-animated-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="red" }}\{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="red" }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="orange" }}\{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="orange" }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="yellow" }}\{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="yellow" }}button{{/ui-button}}
            </div>
        </div>
        <div class="row" >
            <div class="column" >
                <div class="ui compact segment" >
                    \{{#ui-button theme="blue" }}\{{/ui-button}}
                </div>
            </div>
            <div class="column" >
                {{#ui-button theme="blue" }}button{{/ui-button}}
            </div>
        </div>
    </div>
    <div class="ui dividing header" >ui label button</div>
    <div class="ui one column grid" >
        <div class="row" >
            <div class="column" >
                {{#ui-labeled-button}}
                    {{#ui-button theme="primary" }}
                        <i class="heart icon" ></i>
                    {{/ui-button}}
                    {{#ui-label theme="basic" }}2,148{{/ui-label}}
                {{/ui-labeled-button}}


                {{#ui-labeled-button}}
                    {{#ui-button theme="red" }}
                        <i class="heart icon" ></i>
                    {{/ui-button}}
                    {{#ui-pointing-label theme="basic red" direction="left" }}2,148{{/ui-pointing-label}}
                {{/ui-labeled-button}}


                {{#ui-labeled-button}}
                    {{#ui-button theme="basic blue" }}
                        <i class="heart icon" ></i>
                    {{/ui-button}}
                    {{#ui-pointing-label theme="basic blue" direction="left" }}2,148{{/ui-pointing-label}}
                {{/ui-labeled-button}}

                {{#ui-left-labeled-button}}
                    {{#ui-pointing-label theme="basic blue" direction="right" }}2,148{{/ui-pointing-label}}
                    {{#ui-button theme="blue" }}
                        <i class="heart icon" ></i>
                    {{/ui-button}}
                {{/ui-left-labeled-button}}

                {{#ui-button theme="compact" action="clickMe" }}
                    <i class="heart icon" ></i>
                {{/ui-button}}
            </div>
        </div>
    </div>
</div>