{{outlet}}

<div class="ui container" >
    <div class="ui dividing header" >ui label</div>
    <div class="ui one column grid" >
        <div class="row" >
            <div class="column" >
                <div>
                    {{#ui-label theme="raised segment" }}
                        <div class="ribbon" >i am label</div>
                    {{/ui-label}}

                    {{#ui-pointing-label theme="red" direction="left" }}
                        below label
                    {{/ui-pointing-label}}

                    {{#ui-pointing-label theme="tag blue" direction="below" }}
                        label
                    {{/ui-pointing-label}}

                    {{#ui-label theme="rblue image" }}
                         i am label
                        <div class="detail" >detail</div>
                    {{/ui-label}}

                </div>

                <div>
                    {{#ui-label}}label{{/ui-label}}
                    {{#ui-pointing-label direction="below" }}
                        below label
                    {{/ui-pointing-label}}

                    {{#ui-pointing-label direction="left" }}
                        left label
                    {{/ui-pointing-label}}

                    {{#ui-pointing-label direction="right" }}
                        right lbale
                    {{/ui-pointing-label}}
                </div>

                <div>
                    {{#ui-label theme="basic" }}label{{/ui-label}}
                    {{#ui-label theme="basic red" }}label{{/ui-label}}
                    {{#ui-label theme="red" }}label{{/ui-label}}
                    {{#ui-label  }}label{{/ui-label}}
                    {{#ui-label theme="red image" }}
                        <img src="https://www.baidu.com/img/bd_logo1.png">
                        baidu
                    {{/ui-label}}
                    {{#ui-label theme="basic" }}label{{/ui-label}}
                    {{#ui-label theme="basic" }}label{{/ui-label}}
                    {{#ui-label theme="basic" }}label{{/ui-label}}

                </div>
            </div>
        </div>
    </div>
</div>