{{outlet}}

<div class="ui container">
	<div class="ui list">
		<div class="item" >
			{{#ui-message type="info" header="这是一条提示消息"}}{{/ui-message}}
		</div>
		<div class="item" >
			{{#ui-message type="success" header="这是一条成功消息"}}{{/ui-message}}
		</div>
		<div class="item" >
			{{#ui-message type="error" header="这是一条错误消息"}}{{/ui-message}}
		</div>
		<div class="item" >
			{{#ui-message type="warning" header="这是一条警告消息"}}{{/ui-message}}
		</div>
		<div class="item" >
			{{#ui-message header="这是一条消息"}}{{/ui-message}}
		</div>
		<div class="item" >
			{{#ui-message header="这是超大号消息" size="massive"}}{{/ui-message}}
		</div>
		<div class="item" >
			{{#ui-message close=true header="这是一条可清除的消息"}}{{/ui-message}}
		</div>
		<div class="item" >
			{{#ui-message header="这是一条可自动消除的消息" timeout=2000 }}{{/ui-message}}
		</div>
		<div class="item" >
			{{#ui-message header="这是一条带内容的消息"}}
				<ul>
					<li>
						<p>第一点</p>
					</li>
					<li>
						<p>第二点</p>
					</li>
				</ul>
			{{/ui-message}}
		</div>
	</div>
</div>