<div class="ui container" >
    <div class="ui dividing header" >ui button</div>
    <div class="ui grid" >
        <div class="column" >
            <div class="ui form" >
                {{#ui-uploader url="http://localhost:8888/upload" autoUpload=true uploadStart="uploadStart" uploadProgress="uploadProgress" uploadSucess="uploadSucess" deleteFile="deleteFile" }}{{/ui-uploader}}
            </div>
        </div>
    </div>
</div>