<div class="ui items" >
    {{#each model as |q|}}
        <div class="item">
            <div class="image" >
                <img src="{{q.img}}" alt="">
            </div>
        </div>
    {{/each}}
</div>