<div class="ui container">
	<br/>
	<h1 id="title">Ember.js components</h1>
	<br/>
    <div class="ui  menu">
        {{#link-to "demo" class="item" }}demo{{/link-to}}
        {{#link-to "user" class="item" }}user{{/link-to}}
        {{#link-to "status" class="item" }}status{{/link-to}}
    </div>
	{{outlet}}
</div>
