<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            {{#link-to "demo.ui-button" class="item" }}ui-button{{/link-to}}
            {{#link-to "demo.ui-label" class="item" }}ui-label{{/link-to}}
            {{#link-to "demo.ui-labeled-input" class="item" }}ui-labeled-input{{/link-to}}
            {{#link-to "demo.ui-checkbox" class="item" }}ui-checkbox{{/link-to}}
            {{#link-to "demo.ui-checkbox-group" class="item" }}ui-checkbox-group{{/link-to}}
            {{#link-to "demo.ui-radio" class="item" }}ui-radio{{/link-to}}
            {{#link-to "demo.ui-radio-group" class="item" }}ui-radio-group{{/link-to}}
            {{#link-to "demo.ui-input-tags" class="item" }}ui-input-tags{{/link-to}}

            {{#link-to "demo.ui-select" class="item" }}ui-select{{/link-to}}
            {{#link-to "demo.ui-select-2" class="item" }}ui-select-2{{/link-to}}

            {{#link-to "demo.ui-multi-select" class="item" }}ui-multi-select{{/link-to}}
            {{#link-to "demo.ui-dropdown-menu" class="item" }}ui-dropdown-menu{{/link-to}}


            {{#link-to "demo.ui-message" class="item" }}ui-message{{/link-to}}
            {{#link-to "demo.ui-panel" class="item" }}ui-panel{{/link-to}}
            {{#link-to "demo.ui-input" class="item" }}ui-input{{/link-to}}
            {{#link-to "demo.ui-form" class="item" }}ui-form{{/link-to}}
            {{#link-to "demo.file-input" class="item" }}file input{{/link-to}}
            {{#link-to "demo.ui-modal" class="item" }}ui-modal{{/link-to}}
            {{#link-to "demo.ui-progress" class="item" }}ui-progress{{/link-to}}
            {{#link-to "demo.ui-link" class="item" }}ui-link{{/link-to}}
            {{#link-to "demo.form" class="item" }}form{{/link-to}}
            {{#link-to "demo.ui-uploader" class="item" }}ui-uploader{{/link-to}}
        </div>
    </div>
    <div class="twelve wide column" >
      {{outlet}}
    </div>
</div>
